@page
@model Shooting.Pages_Firearms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Firearm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Firearm.FirearmName" class="control-label"></label>
                <input asp-for="Firearm.FirearmName" class="form-control" />
                <span asp-validation-for="Firearm.FirearmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firearm.Wiki" class="control-label"></label>
                <input asp-for="Firearm.Wiki" class="form-control" />
                <span asp-validation-for="Firearm.Wiki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firearm.LeftSide" class="control-label"></label>
                <input asp-for="Firearm.LeftSide" class="form-control" />
                <span asp-validation-for="Firearm.LeftSide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firearm.RightSide" class="control-label"></label>
                <input asp-for="Firearm.RightSide" class="form-control" />
                <span asp-validation-for="Firearm.RightSide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firearm.SerialNumber" class="control-label"></label>
                <input asp-for="Firearm.SerialNumber" class="form-control" />
                <span asp-validation-for="Firearm.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firearm.ManufacturerID" class="control-label"></label>
                <select asp-for="Firearm.ManufacturerID" class ="form-control" asp-items="ViewBag.ManufacturerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
